.footer-home {
    background-color: #ccf6f1;
    height: auto;
    margin-top: 5vh;
    text-align: center;
    border-top: 0.3rem solid #11969b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#logo{
    width:10vh;
    border:1.5px solid #11969b;
    border-radius: 5vh;
    margin: 20px 0px;
}
h3{
    font-weight: bolder;
}
#decription-about{
    margin: 0rem 3rem;
}
#description-add{
    margin: 0rem 1rem;
}
.item-1{
    margin-top:2rem;
    margin-bottom: 1rem;
   
}
.item-2{
    margin-top:2rem;
    margin-bottom: 2rem;
   
}
.item-3{
    margin-top:2rem;
    margin-bottom: 2rem;
   
}
.group-contact{
    text-align: left;
    margin: 2rem 4rem;
    margin-right: 0rem;
}
#follow-us{
    margin-top: 10px;
}