.about-page{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-about{
    background-color: #ccf6f1;
    height: 175px; 
}
.our-story{
    font-size: 32px;
    font-weight: bolder;
    justify-content: center;
    padding :70px;
    text-decoration: underline;
}
.our-story-des1{
    margin-top:50px;
    color:gray;
    text-align: justify;
    margin-bottom:40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.our-story-des2, .our-story-des3, .our-story-des4{
    margin-top:40px;
    color:gray;
    text-align: justify;
    margin-bottom:40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.vision , .mission{
    font-weight: bold;
}
.mission-des,.vision-dec{
    margin-top:40px;
    color:gray;
    text-align: justify;
    margin-bottom:40px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#our-story{
    padding: 30px;
    text-decoration: underline;
    margin-bottom: 10vh;
}