.home-page{
   padding:0px;
   margin: 0px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.our-story,.our-mission{
    padding: 40px;
    text-align: center;
    font-weight: bold;
}

.button-continueReading{
    margin-top: 25px;
    margin-left:60%;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(198, 202, 198);
    width: 200px;
}
.button-continueReading :hover{
    background-color: blue;
}
.footer-page{
    display: block;
    margin-top: 10px;
}
@media (max-width: 900px){
    .button-continueReading{
        margin-left: 0%;
    }
}



